In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#from pandas_datareader import eurostat
import seaborn as sns
import eurostat

In [2]:
life_exp = eurostat.get_data_df('sdg_03_10')
smoking  = eurostat.get_data_df('sdg_03_30')
obesity =  eurostat.get_data_df('sdg_02_10')
gdppc = eurostat.get_data_df('sdg_08_10')
life_exp = life_exp.melt(id_vars = ['unit','sex','age', 'geo\\time'], var_name = 'Year', value_name = 'Life Expectancy')
life_exp = life_exp.pivot(index = ['geo\\time','Year'], columns = 'sex', values ='Life Expectancy')
life_exp.columns = ['Life Expectancy Females', 'Life Expectancy Males', 'Life Expectancy All']
smoking = smoking.melt(id_vars = ['unit','sex','age', 'geo\\time'], var_name = 'Year', value_name = 'Smoking')
smoking = smoking.pivot(index = ['geo\\time','Year'], columns = 'sex', values ='Smoking')
smoking.columns = ['Smoking Females', 'Smoking Males', 'Smoking All']
obesity = obesity.melt(id_vars = ['unit','bmi', 'geo\\time'], var_name = 'Year', value_name = 'Obesity')
obesity = obesity.pivot(index = ['geo\\time','Year'], columns = 'bmi', values ='Obesity')
obesity.columns  = ['Pre-obese','Overweight', 'Obese']
gdppc = gdppc.melt(id_vars = ['unit','na_item', 'geo\\time'], var_name = 'Year', value_name = 'GDP per capita')
gdppc = gdppc.pivot(index = ['geo\\time','Year'], columns = 'unit', values ='GDP per capita')
gdppc.columns = ['GDP per capita in 2010 EUR', 'GDP per capita growth']

In [8]:
life_exp = life_exp.groupby(by='geo\\time').mean()
smoking = smoking.groupby(by='geo\\time').mean()
obesity = obesity.groupby(by='geo\\time').mean()
gdppc = gdppc.groupby(by = 'geo\\time').mean()

In [9]:
a = pd.merge(left = life_exp, right = smoking, how = 'inner', left_index = True, right_index = True)
b = pd.merge(left = a, right = obesity, how = 'inner', left_index = True, right_index = True)
data = pd.merge(left = b, right = gdppc, how = 'inner', left_index = True, right_index = True)
data = data.reset_index()
names = data.columns.to_list()
names[0] = 'Country'
data.columns = names

In [10]:
dataavg =

,Country,Life Expectancy Females,Life Expectancy Males,Life Expectancy All,Smoking Females,Smoking Males,Smoking All,Pre-obese,Overweight,Obese,GDP per capita in 2010 EUR,GDP per capita growth
0,AT,83.080000,77.705000,80.475000,24.000000,35.333333,29.500000,34.933333,49.100000,14.166667,35170.476190,0.714286
1,BE,82.730000,77.320000,80.080000,22.166667,27.333333,24.666667,34.266667,48.500000,14.233333,33072.380952,0.733333
2,BG,77.185000,70.135000,73.595000,28.666667,45.333333,36.666667,41.266667,54.766667,13.466667,5029.523810,4.114286
3,CY,82.925000,78.510000,80.710000,17.166667,43.500000,30.000000,35.833333,50.766667,14.933333,22487.619048,0.957143
4,CZ,80.505000,74.235000,77.390000,21.833333,34.500000,27.833333,39.266667,58.566667,19.366667,14931.904762,2.309524
5,DE,82.625000,77.470000,80.100000,21.500000,31.333333,26.000000,35.750000,52.100000,16.350000,32239.523810,0.938095
6,DK,81.370000,77.090000,79.245000,22.666667,25.166667,24.166667,32.900000,47.700000,14.900000,45067.142857,0.795238
7,EE,80.035000,69.940000,75.145000,18.333333,35.333333,25.666667,33.700000,53.666667,19.966667,12039.047619,3.942857
8,EL,83.100000,77.690000,80.400000,35.500000,45.000000,40.166667,39.050000,56.500000,17.450000,18775.238095,-0.057143
9,ES,84.900000,78.675000,81.815000,26.500000,34.666667,30.333333,36.866667,52.366667,15.500000,23166.666667,0.457143
10,EU27_2020,82.683333,76.633333,79.711111,23.500000,33.000000,27.833333,36.300000,51.450000,15.150000,25075.238095,0.938095
11,EU28,82.576471,76.735294,79.682353,22.000000,30.500000,26.000000,36.250000,51.800000,15.550000,25691.000000,1.285000
12,FI,83.310000,76.885000,80.135000,18.166667,23.500000,21.000000,38.500000,57.900000,19.450000,34712.857143,1.123810
13,FR,84.765000,77.915000,81.400000,28.000000,35.166667,31.666667,31.333333,45.633333,14.300000,30909.523810,0.419048
14,HR,79.936842,73.215789,76.631579,28.800000,39.800000,34.000000,40.650000,59.150000,18.450000,10485.238095,2.066667
15,HU,78.240000,70.495000,74.440000,26.333333,38.500000,31.833333,35.066667,55.466667,20.400000,10426.666667,2.523810
16,IE,82.355000,77.845000,80.105000,24.666667,24.333333,24.666667,39.450000,56.400000,16.950000,42594.761905,3.504762
17,IT,84.410000,79.250000,81.915000,20.333333,30.500000,25.000000,34.100000,44.900000,10.800000,26988.571429,-0.285714
18,LT,78.765000,67.635000,73.235000,17.666667,43.333333,29.500000,38.550000,55.900000,17.350000,9772.380952,5.109524
19,LU,83.190000,77.825000,80.550000,19.666667,28.166667,23.833333,32.850000,48.650000,15.800000,78638.571429,1.042857
20,LV,77.994444,67.700000,72.994444,21.166667,48.333333,33.666667,36.200000,56.133333,19.933333,9311.428571,4.595238
21,MT,82.790000,78.400000,80.645000,19.000000,28.833333,23.666667,36.100000,60.966667,24.866667,16995.714286,1.945000
22,NL,82.450000,78.440000,80.520000,19.166667,24.166667,21.500000,35.100000,48.200000,13.000000,38304.285714,0.823810
23,PL,80.345000,71.980000,76.165000,25.666667,35.666667,30.666667,38.066667,54.900000,16.833333,9410.000000,3.500000
24,PT,82.900000,76.380000,79.710000,16.333333,31.833333,23.833333,37.250000,53.450000,16.150000,16853.809524,0.442857
25,RO,77.220000,69.845000,73.455000,21.000000,38.333333,29.333333,47.100000,56.333333,9.233333,6634.736842,4.200000
26,SE,83.395000,79.410000,81.440000,14.000000,10.166667,12.000000,35.900000,49.900000,14.000000,39726.190476,1.304762
27,SI,82.530000,75.730000,79.190000,23.166667,31.000000,27.000000,37.833333,55.233333,17.400000,17525.714286,1.804762
28,SK,79.240000,71.690000,75.510000,16.833333,32.333333,24.333333,37.866667,53.133333,15.266667,12170.952381,3.295238
29,UK,82.021053,77.957895,80.021053,22.333333,24.166667,23.166667,35.400000,55.900000,20.550000,30411.000000,1.140000

In [11]:
dddict = eurostat.get_dic('geo')
countries = data['Country']
fullname = []
for country in countries:
    fullname.append(dddict[country])
data['Country']=fullname

In [12]:
data.to_excel(r'C:\Orders\2021\Macroeconomics\Anna\DataAVG.xlsx')

In [138]:
life_exp = eurostat.get_data_df('sdg_03_10')
smoking  = eurostat.get_data_df('sdg_03_30')
obesity =  eurostat.get_data_df('sdg_02_10')

In [153]:
life_exp[life_exp['geo\\time']=='EU27_2020'].to_excel(r'C:\Orders\2021\Macroeconomics\Anna\LifeexpEU.xlsx')
smoking[smoking['geo\\time']=='EU27_2020'].to_excel(r'C:\Orders\2021\Macroeconomics\Anna\SmokingEU.xlsx')
obesity[obesity['geo\\time']=='EU27_2020'].to_excel(r'C:\Orders\2021\Macroeconomics\Anna\ObesityEU.xlsx')

In [157]:
life_exp = life_exp.melt(id_vars = ['unit','sex','age', 'geo\\time'], var_name = 'Year', value_name = 'Life Expectancy')

In [171]:
means = a.reset_index().groupby(by='geo\\time').mean()

In [178]:
means[['Year', 'Life Expectancy Females', 'Life Expectancy Males', 'Life Expectancy All']].to_excel(r'C:\Orders\2021\Macroeconomics\Anna\LifeexpALL.xlsx')
means[['Year', 'Smoking Females', 'Smoking Males',
       'Smoking All']].to_excel(r'C:\Orders\2021\Macroeconomics\Anna\SmokingALL.xlsx')

In [184]:
obesity.groupby(by='geo\\time').mean().to_excel(r'C:\Orders\2021\Macroeconomics\Anna\ObesityALL.xlsx')

In [186]:
eurostat.get_dic('bmi')

{'TOTAL': 'Total',
 'LT18P5': 'Underweight',
 '18P5-25': 'Normal',
 '25-30': 'Overweight',
 'GE30': 'Obese',
 'BMI_LT18P5': 'Underweight',
 'BMI18P5-24': 'Normal',
 'BMI_GE25': 'Overweight',
 'BMI25-29': 'Pre-obese',
 'BMI_GE30': 'Obese',
 'BMI30-34': 'Obese class I',
 'BMI35-39': 'Obese class II',
 'BMI_GE40': 'Obese class III'}